<h1>Listing suites</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descricao</th>
    <th>Valor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suites.each do |suite| %>
  <tr>
    <td><%= suite.nome %></td>
    <td><%= suite.descricao %></td>
    <td><%= suite.valor %></td>
    <td><%= link_to 'Show', suite %></td>
    <td><%= link_to 'Edit', edit_suite_path(suite) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Suite', new_suite_path %>
