<%= form_for(@motel) do |f| %>
  <% if @motel.errors.any? %>
    <div id="campo-erros">
      <h3>Erro na operação:</h3>
        <p><b><%= @motel.errors.messages.values.first[0] %></b></p>
    </div>
  <% end %>
  <br/>
  <div class="row">
    <div class="span12">
      <div class="span3">
        <%= f.label :nome, 'Nome:' %>
        <%= f.text_field :nome, :style => 'border: 1px solid' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="span2">
        <%= f.label :telefone1, 'Telefone 1:' %>
        <%= f.text_field :telefone1, :class => 'span2', :style => 'border: 1px solid' %>
      </div>
      <div class="span2">
        <%= f.label :telefone2, 'Telefone 2:' %>
        <%= f.text_field :telefone2, :class => 'span2', :style => 'border: 1px solid' %>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="span12">
      <div class="span2">
        <%= f.label :endereco, 'Endereço:' %>
        <%= f.text_field :endereco, :class => 'span2', :style => 'border: 1px solid' %>
      </div>
      <div class="span2">
        <%= f.label :endnumero, 'Número:' %>
        <%= f.text_field :endnumero, :class => 'span2', :style => 'border: 1px solid' %>
      </div>
      <div class="span2">
        <%= f.label :endcomplemento, 'Complemento:' %>
        <%= f.text_field :endcomplemento, :class => 'span2', :style => 'border: 1px solid' %>
      </div>
      <div class="span2">
        <%= f.label :bairro, 'Bairro:' %>
        <%= f.text_field :bairro, :class => 'span2', :style => 'border: 1px solid' %>
      </div>
      <div class="span2">
        <%= f.label :cep, 'Cep:' %>
        <%= f.text_field :cep, :class => 'span2', :style => 'border: 1px solid' %>
      </div>
      <div class="span2">
        <%= f.label :cidade, 'Cidade:' %>
        <%= f.select :cidade, ['Rio de Janeiro', 'Niterói'], {}, :class => 'span2', :style => 'border: 1px solid' %>
      </div>
      <div class="span2">
        <%= f.label :uf, 'UF:' %>
        <%= f.select :uf, ['RJ'], {}, :class => 'span1', :style => 'border: 1px solid' %>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="span12">
      <div class="span1">
        <%= f.label :latitude, 'Latitude:' %>
        <%= f.text_field :latitude, :class => 'span1', :style => 'border: 1px solid' %>
      </div>
      <div class="span3">
        <%= f.label :longitude, 'Longitude:' %>
        <%= f.text_field :longitude, :class => 'span1', :style => 'border: 1px solid' %>
      </div>
    </div>
  </div>
  <hr/>
  <div>
    <%= f.submit 'Salvar', :class => 'btn btn-inverse btn-large' %>
  </div>
<% end %>
