<table class="table-bordered table">
  <thead>
  <th>Endereço</th>
  <th>Número</th>
  <th>Complemento</th>
  <th>Telefone Principal</th>
  <th>Telefone Secundário</th>
  <th>Ações</th>
</thead>
<tbody>

</tbody>
<tr>
  <td><%= @motel.endereco %></td>
  <td><%= @motel.endnumero %></td>
  <td><%= tem_complemento?(@motel) %></td>
  <td><%= @motel.telefone1 %></td>
  <td><%= @motel.telefone2 %></td>
  <td>
    <%= link_to 'Editar', edit_motel_path(@motel) %> |
    <% if @motel.ativo == 1 %>
      <%= link_to 'Desativar', desativar_path(@motel.id) %>
    <% else %>
      <%= link_to 'Ativar', ativar_path(@motel.id) %>
    <% end %>
  </td>
</tr>
</table>