<% if @moteis_inativos.empty? %>
  <h4>Não existem motéis inativos cadastrados</h4>
<% else %>
  <table class="table table-striped table-bordered datatable">
    <tr>
      <th>Nome</th>
      <th>telefone principal</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>UF</th>
      <th>Status</th>
    </tr>

    <% @moteis_inativos.each do |motel| %>
      <tr>
        <td><%= link_to motel.nome, motel_path(motel) %></td>
        <td><%= motel.telefone1 %></td>
        <td><%= motel.bairro %></td>
        <td><%= motel.cidade %></td>
        <td><%= motel.uf %></td>
        <td><%= verifica_status(motel) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

