<p id="notice"><%= notice %></p>

<div>
  <h2><%= @motel.nome %></h2>
</div>
<hr/>

<%= render :partial => 'informacoes_motel' %>

<hr/>

<ul id="index-tab" class="nav nav-tabs">
  <li class="active"><a href="#listar_suites" data-toggle="tab">Lista de Suítes</a></li>
  <li id="tab-cadastra-suite"><a href="#criar-suite" data-toggle="tab">Cadastrar Suíte</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade in active" id="listar_suites">
    <div class="well">
      <%= render :partial => 'suites/lista_suites' %>
    </div>
  </div>

  <div class="tab-pane fade" id="criar-suite">
    <div class="well">
      <%= render :partial => 'suites/cadastrar_suite' %>
    </div>
  </div>
</div>