<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= content_for?(:title) ? yield(:title) : "Sistema de Motéis" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield :head %> 
  </head>
  <body class="main">

    <div class="navbar navbar-top">
      <div class="navbar-inner" id="barra_do_sistema" >
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Sistemas de Motéis</a>

          <div class="container nav-collapse">
            <ul class="nav" id="menu-principal">
              <li><%= link_to "Início", moteis_path %></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Minha Conta
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><%= link_to "Alterar senha", alterar_senha_path %></li>
                </ul>
              </li>
              <li><%= link_to "Sugestões", sugestoes_path%></li>
              <li><%= link_to "Logout", logout_path%></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content" style="min-height: 500px;">
        <%= yield %>
      </div>
    </div>
    <!--/content-->
    <hr/>
  <footer>
    <%= yield :scripts %>
  </footer>
  <!-- /container -->

</body>
</html>

